<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4 d-flex flex-column">
            <a href="http://www.facebook.com">Facebook</a>
            <a href="http://www.Twitter.com">Twitter</a>
            <a href="http://www.Instagram.com">Instagram</a>
        </div>
        <div class="col-sm-4">
            <address>
                <h3>Oficina Central</h3>
                <p><span class="oi oi-home footer-address-icon"></span>Pereira, Risaralda, Colombia</p>
                <p><span class="oi oi-phone footer-address-icon"></span>+36 327543638</p>
                <p><span class="oi oi-inbox footer-address-icon"></span>contacto@viveros.com</p>
            </address>
        </div>
    </div>
</div>