<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>Viveros </title>
	</head>
	<body>
  		<%= render "/partials/menu" %>

		<div class="jumbotron">	
			<h1>Inicio :)</h1>
		</div>
		
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page"></li>
				</ol>
			</nav>			

			<!-- <div class="row">
				<div class="col-sm-4">
					<p>
						<h3>¿Cómo funciona?</h3>
						<p>Busca los hoteles de acuerdo a tu preferencia.</p>
					</p>
				</div>
				<div class="col-sm-4">
					<p>
						<h3>¿Dónde puedo reservar?</h3>
						<p>Elegí la ciudad que te interese y luego realizá la reserva con tus datos.</p>
					</p>
				</div>
				<div class="col-sm-4">
					<p>
						<h3>¿Cómo pago?</h3>
						<p>Utilizá tu tarjeta favorita.</p>
					</p>
				</div>
			</div> -->				
				
		</div>
		
		<footer>
			<%= render "/partials/footer" %>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/popper.js/dist/popper.min.js"></script>
		<script src="node_modules/bootstrap/dist/js//bootstrap.min.js"></script>
	</body>
</html>
