html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
a,a:visited{
    color: inherit;
    text-decoration: none;
}
.no-style{
    list-style:none;
}
.be-green{
    background-color:#1d8d7c;
}
.white{
    color:white;
}
.large-padding{
    padding: 7px 10px;
}
.margi-ri{
    padding: 5px 10px 10px 10px;
}