html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.no-style{
    list-style:none;
}
.be-green{
    background-color:#1d8d7c;
}
.white{
    color:white;
}
.large-padding{
    padding: 8px 7px;
}