html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
a,a:visited{
    color: inherit;
    text-decoration: none;
}

.no-margin{
    margin: 0px;
}

.no-style{
    list-style:none;
}

.large-padding{
    padding: 7px 10px;
}

.margi-ri{
    padding: 5px 10px 10px 10px;
}

.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}